.logo {
    width: 110px;
}

.is-fuchsia {
    background-color: #E00EEF;
}

.has-text-fuchsia {
    color: #E00EEF;
}

.custom-positioning {
    position: relative;
    top: 10vh;
}

.has-thin-border {
    border: 1px solid rgba(255, 255, 255, .5);
    border-width: thin;
    margin: 30px;
}

.has-thin-bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-width: thin;
}

.is-playfair {
    font-family: 'Playfair Display', serif;
}

.is-lato {
    font-family: 'Lato', sans-serif;
}

.more-top-padding {
    padding-top: 2rem;
}

.three-line {
    line-height: 3rem;
}

.two-line {
    line-height: 2rem;
}

.black-button {
    background-color: #000;
}

.is-one-rem {
    font-size: 1rem;
}

.asterisk {
    font-size: 12px;
}

.no-border {
    border: none;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back-arrow {
    position: relative;
    top: 10px;
    left: 10px;
    width: fit-content;
}

@media screen and (min-width: 900px) {
    article {
        padding: 1rem 3rem;
    }
}